# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
*.pyc
.pytest_cache/

# Env
.env
backend/.env
frontend/.env

# Node / Frontend
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
